DEMO.json
{
  "name": "DEMO",
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v23.0/192946493903693/feed",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "=message",
              "value": "={{$json[\"ai_text\"]}}"
            },
            {
              "name": "access_token",
              "value": "EAAQmEgZBIuIYBPN7jsZCyo70i8LBD6sxOccMwvbSCPar8xQ27vBZCWASdc7LLypo3U491aZBADT5ZBxD7r1eKyRqldLlkxjVHyzZCEjOPrFRbTXZCn5ZCG5Tdr4erHP9Kw6JzQ1VmPmuputD1XUGmagV7WexcbHOkvpOfi1vH38F2FAojTK8jDeKzwgwejh4zZA3JIZCh589xOZACXZCma1aXRfZABfkrXVEae0FvhbDAZCEoYSgZDZD"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        608,
        0
      ],
      "id": "12e74c8b-eedb-42c6-a336-0f701921795d",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 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"
            },
            {
              "name": "Content-Type ",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"gpt-3.5-turbo\",\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": \"Write a facebook page post on the topic {{$json[\"Topic\"]}} that attract the people toward it. The page name is N8N agent that write daily one post. Do not write the first and last line that you write.\"\n    }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        224,
        -64
      ],
      "id": "3aa0770d-467c-470f-9d40-8e83301e6218",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1b234a7d-8180-4b98-9e38-b95b4242057e",
              "name": "ai_text",
              "value": "={{ $json[\"choices\"][0][\"message\"][\"content\"] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        384,
        0
      ],
      "id": "764ba983-e2d9-4552-b0ad-80faf5c86535",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/18jDgfYTsSnPwvns6k1sx9Y3eo2jbjm9CbBsxkjw1tow/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/18jDgfYTsSnPwvns6k1sx9Y3eo2jbjm9CbBsxkjw1tow/edit?gid=0#gid=0",
          "mode": "url"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Posted",
              "lookupValue": "\"\""
            }
          ]
        },
        "options": {
          "returnFirstMatch": true
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        -128,
        0
      ],
      "id": "151ebc69-9c03-425f-9f94-a07585b3ead4",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "nPWxOiivYmgnfPLj",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/18jDgfYTsSnPwvns6k1sx9Y3eo2jbjm9CbBsxkjw1tow/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/18jDgfYTsSnPwvns6k1sx9Y3eo2jbjm9CbBsxkjw1tow/edit?gid=0#gid=0",
          "mode": "url"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Posted": "=\"\"\"\"",
            "row_number": "={{$json[\"row_number\"]}}"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "Topic",
              "displayName": "Topic",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Posted",
              "displayName": "Posted",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "IsPosted",
              "displayName": "IsPosted",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        96,
        80
      ],
      "id": "d02b3713-b4c3-484c-81e7-658b8591017d",
      "name": "Update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "nPWxOiivYmgnfPLj",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 2 * * *"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -336,
        0
      ],
      "id": "8620c8b4-c8f6-4ee0-8ecc-b0b3ed62d276",
      "name": "Schedule Trigger"
    }
  ],
  "pinData": {},
  "connections": {
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        []
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "58be811f-21e4-4c94-880c-8802eced6f48",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "af7883aa1cf69d12c24a0a11bf656d2c02b1ef7f68147f1afe7d3d9bac0d0871"
  },
  "id": "KQ0nsnujC35jzqAV",
  "tags": []
}